.img {
    width: 100%;
    max-height: 15rem;
}
//.container {
//    width: 100%;
//    height: 10rem;
//}
.contentBox {
    width: 80%;
    text-align: center;
    margin-top: -6rem;
    background-color: #FFFFFF;
    position: absolute;
    left: 10%;
    padding: 2rem 3rem;
    border-radius: 5px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
    border: 1px solid #EAEAEA;
    .title {
        margin: 0 0 1.5rem 0;
    }
    .summary {
        text-align: justify;
    }
}
.button {
    position: absolute;
    top: 27rem;
    left:10%;
    padding: 0;
}
.arrowIcon {
    margin:  1rem 0 0 0;
    width: 36px;
    height: 30px;
    padding: 0;
}
