.container {
    margin: 3rem 0;
}
.articleList {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
}
.formControl {
    margin: 0 0 1rem 2rem;
    font-size: 1rem;
    font-weight: 600 !important; 
}
.inputLabel {
    padding-bottom: 1rem;
}
.textInput {
    max-width: 40%;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
}
.searchIcon {
    margin: 0.4rem 0 0 0.4rem;
}
.results {
    padding: 0 0 1rem 0;
    border-bottom: 2px solid #EAEAEA;
    margin: 0 0 2rem 0;
}