.card {
    height: 31rem;
    max-width: 30rem;
}
.cardContent {
    margin-bottom: 0;
    padding-bottom: 0;
}
.cardMedia {
    height: 13.5rem;
}
.dateBox {
    display: flex;
    color: #868686;
}
.calendarIcon {
    margin:  0.2rem 0 0 0;
}
.arrowRightIcon {
    width: 36px;
    height: 30px;
    margin: 1.1rem 0 0 0;
}
.button {
    padding: 0 0 0 0.3rem;
}